<header>
    <div class="navbar bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size : 30px; color : white" class="fa fa-gift" aria-hidden="true">&nbsp;
            </i>
            <strong style="font-size : 25px; color : white"> <a class="nav-link text-white" routerLink="home">Product
                    Store</a></strong>&nbsp;&nbsp;&nbsp;
            <div class="navbar d-flex">
                <a class="nav-item active nav-link p-2 text-white" routerLink="products">Product List</a>
                <a class="nav-item nav-link p-2 text-white dropdown-toggle" role="button" data-bs-toggle="dropdown">
                    Sort <span class="caret"></span></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" style="cursor: pointer;" >By price</a>
                    <a class="dropdown-item" style="cursor: pointer;">By rating</a>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search products">
                <i class="fa fa-search search-icon"></i>
            </div>
        </div>